{{!-- <div class="hero-image">
    <div class="hero-text">
        <h1>Welcome to Pimp my Pet</h1>
        <p>We love pets</p>
        <button> Join Us </button>
    </div>
</div> --}}


{{!-- This is where we would add the photos Gil wants to add --}}