<div class="JG-project-pic" id="contactPic">
    <img src="/images/projectPicJules.jpg">
    <p>
        Jules W <br>
        <a href="https://github.com/juliannewood2413" target="_blank">GitHub Profile </a>

    </p>
</div>