<nav>
    <div class="nav-wrapper #607d8b blue-grey z-depth-3" id="navBar">
        <a href="#" class="brand-logo">Peer 2 Paws</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="sign-in">Sign-up/Get updates</a></li>
            <li><a href="contact">Contact Us</a></li>
        </ul>
    </div>
</nav>