<div class="container-fluid col s6 m3 l2 z-depth-3" id="side-bar">
    <h4>Sidebar Here</h4>
    <a class="waves-effect waves-light btn-small #37474f blue-grey darken-3" id="sideBtn1" href="see-all">
        <span class="material-icons">pets</span> See All Pets
    </a>
    <hr>
    <a class="waves-effect waves-light btn-small #37474f blue-grey darken-3" id="sideBtn1" href="specificpets">
        <span class="material-icons">pets</span>Pets by Type
    </a>
    <hr>
    <a class="waves-effect waves-light btn-small #37474f blue-grey darken-3" id="sideBtn2" href="post-pet">
        <span class="material-icons">pets</span> Post Your Pet
    </a>
    <hr>
    <a class="waves-effect waves-light btn-small #37474f blue-grey darken-3" id="sideBtn3" href="apply">
        <span class="material-icons">pets</span> Apply to Adopt
    </a>
    <hr>

</div>