{{> navbar-partial}}

<div class="row">

  {{> sidebar-partial}}

  <div class="container-fluid col s12 m8 l9" id="applyForm">
    {{!-- Application to join here? --}}
    <h2>Apply Here!</h2>
    <form id="apply">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col s6">
              <input id="pet_name" type="text" class="validate">
              <label for="pet_name">Pet Name</label>
            </div>
            <div class="input-field col s6">
              <input id="pet_id" type="text" class="validate">
              <label for="pet_id">Pet ID</label>
            </div>
            <div class="input-field col s6">
              <input id="email" type="text" class="validate">
              <label for="email">Email</label>
            </div>
            <div class="input-field col s6">
              <input id="number" type="text" class="validate">
              <label for="number">Phone Number</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action" id="applyBtn">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>

      </div>


    </form>

  </div>