{{> hero}}
{{> navbar-partial }}
<!-- Navbar goes here -->

<!-- Page Layout here -->
<div class="row">

    {{> sidebar-partial}}

    <div class="container-fluid col s12 m8 l9" id="mainContent">
        <h2>Welcome!</h2>

        <p>Peer 2 Paws is a user-driven service where pet lovers can view available animals, adopt animals,
            or find a loving home for their animals! We seek to provide a safe place for finding a fur-ever friend, or
            cold-blooded companion.
        </p>

        <div class="row">
            <div class=" container-fluid col s12 m7">
                <div class="card-large">
                    <div class="card-image" id="homeImg">
                        <img src="/images/happyhome.jpg" class="responsive-img">
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>