{{> hero}}
{{> navbar-partial }}
<!-- Navbar goes here -->

<!-- Page Layout here -->
<div class="row">

    {{> sidebar-partial}}

    <div class="container-fluid col s12 m8 l9" id="mainContent">
        <h2>Main Content here</h2>

        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum aspernatur eum error voluptatibus ducimus
        possimus impedit, ad cupiditate provident, enim praesentium fugit inventore dolor ipsam consequatur minus,
        dolore quas illum?


        <div class="row">
            <div class=" container-fluid col s12 m7">
                <div class="card-large">
                    <div class="card-image" id="homeImg">
                        <img src="/images/happyhome.jpg" class="responsive-img">
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>