{{> navbar-partial}}


<div class="row">

    {{> sidebar-partial}}

    <h1>See All Our Pets</h1>

    <h2 id='Animal'>
        {{#each Animal}}
        <p>{{this.Animal.AnimalName}}</p>
        {{/each}}
    </h2>


    <h2>
        {{!-- {{Animal}} --}}
     
    </h2>
</div>