{{> navbar-partial}}

<div class="row">

    {{> sidebar-partial}}

    <div class="container-fluid col s12 m8 l9" id="specificForm">
        <h2>View Pets by Type</h2>
        <form class="col m8 offset-m2 s12">
            <label>Select a Type</label>
            <select class="browser-default">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Dogs</option>
                <option value="2">Cats</option>
                <option value="3">Birds</option>
                <option value="4">Rodents</option>
                <option value="5">Reptiles</option>
            </select>

            <div class="divider"></div>
            <div class="row">
                <div class="col m12">
                    <a class="btn waves-effect waves-light" type="submit" name="action" id="sheltersBtn"
                        href="near-me">View
                        <span class="material-icons right">pets</span>
                    </a>
                </div>
            </div>
        </form>


        <div class="divider"></div>
        <div class="row">
            <div class="col m12">
                <p>To see information about different dog breeds, click below</p>
                <a class="btn waves-effect waves-light" type="submit" name="action" id="breedinfoBtn" href="#">Breed
                    Info
                    <span class="material-icons right">pets</span>
                </a>


            </div>

        </div>

    </div>