{{> navbar-partial}}

<div class="row">

    {{> sidebar-partial}}

    <div class="container-fluid col s12 m8 l9">
        <h2>View Pets by Type</h2>
        <div class='row' id="specificForm">
            <div class="col s3 m5 l2">
                {{> dogIcon-partial}}
                <a class="btn waves-effect waves-light #37474f blue-grey darken-3" type="submit" name="action"
                    id="dogType" href="dog">Dogs
                </a>
            </div>
            <div class="col s3 m5 l2">
                {{> catIcon-partial}}
                <a class="btn waves-effect waves-light #37474f blue-grey darken-3" type="submit" name="action"
                    id="catType" href="cat">Cats
                </a>
            </div>
            <div class="col s3 m5 l2">
                {{> birdIcon-partial}}
                <a class="btn waves-effect waves-light #37474f blue-grey darken-3" type="submit" name="action"
                    id="birdType" href="bird">Birds
                </a>
            </div>
            <div class="col s3 m5 l2">
                {{> rodentIcon-partial}}
                <a class="btn waves-effect waves-light #37474f blue-grey darken-3" type="submit" name="action"
                    id="rodentType" href="rodent">Rodents
                </a>
            </div>
            <div class="col s3 m5 l2">
                {{> reptileIcon-partial}}
                <a class="btn waves-effect waves-light #37474f blue-grey darken-3" type="submit" name="action"
                    id="reptileType" href="reptile">Reptiles
                </a>
            </div>

        </div>

        <div class="divider"></div>

        </form>


        <div class="divider"></div>
        <div class="row" id="breedInfo">
            <div class="col s6" id="dogBreedInfo">
                {{> dedit-partial}}
                <p>To see information about different dog breeds, click below</p>
                <a class="btn waves-effect waves-light #37474f blue-grey darken-3" type="submit" name="action"
                    id="breedinfoBtn" href="/dog-breed.html"> Dog Breed
                    Info
                    <span class="material-icons right">pets</span>
                </a>
            </div>

            <div class="col s6" id="catBreedInfo">
                {{> cedit-partial}}
                <p>To see information about different cat breeds, click below</p>
                <a class="btn waves-effect waves-light #37474f blue-grey darken-3" type="submit" name="action"
                    id="breedinfoBtn" href="/cat-breed.html"> Cat Breed
                    Info
                    <span class="material-icons right">pets</span>
                </a>

            </div>




        </div>

    </div>

    <script src="../public/js/view.js"></script>