{{> navbar-partial}}

<div class="row">

    {{> sidebar-partial}}

    <div class="container-fluid col s12 m8 l9" id="specificForm">
        <h2>View Pets by Type</h2>
        <form class="col m8 offset-m2 s12">
            <label>Select a Type</label>
            <select class="browser-default" id='selectedType'>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Dog</option>
                <option value="2">Cat</option>
                <option value="3">Bird</option>
                <option value="4">Rodent</option>
                <option value="5">Reptile</option>
            </select>

            <div class="divider"></div>
            <div class="row">
                <div class="col m12">
                    <a class="btn waves-effect waves-light #37474f blue-grey darken-3" type="submit" name="action"
                        id="sheltersBtn" href="#">View
                        <span class="material-icons right">pets</span>
                    </a>
                </div>
            </div>
        </form>


        <div class="divider"></div>
        <div class="row">
            <div class="col m12">
                <p>To see information about different dog breeds, click below</p>
                <a class="btn waves-effect waves-light #37474f blue-grey darken-3" type="submit" name="action"
                    id="breedinfoBtn" href="#">Breed
                    Info
                    <span class="material-icons right">pets</span>
                </a>


            </div>

        </div>

    </div>

    <script src="../public/js/view.js"></script>