body,
html {
  height: 100%;
}

body {
  background: url("../images/whiteBkgrd.jpg") no-repeat center fixed;
  background-size: cover;
  text-align: center;
}

#navBar {
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  border-radius: 5px;
  font-family: "Salsa", cursive;
}

h2,
h4,
.waves-effect {
  font-family: "Salsa", cursive;
}

.row {
  margin-top: 10px;
  text-align: center;
}

#side-bar {
  background-color: #607d8b;
  color: white;
  font-size: small;
  padding-bottom: 400px;
  border-radius: 5px;
}

#mainContent {
  text-align: center;
}

#applyForm,
#signinForm,
#postForm,
#applyBtn,
#postBtn {
  margin-left: 10px;
}

.responsive-img {
  margin-left: 50%;
  position: relative;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
