body,
html {
  height: 100%;
}

body {
  background: url("../images/whiteBkgrd.jpg") no-repeat center fixed;
  background-size: cover;
}

/* .container-fluid {
  display: flexbox;
} */

#navBar {
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  border-radius: 5px;
  font-family: "Salsa", cursive;
}

h2,
h4,
.waves-effect {
  font-family: "Salsa", cursive;
}

.row {
  margin-top: 10px;
}

#side-bar {
  background-color: #607d8b;
  color: white;
  font-size: small;
  padding-bottom: 400px;
  border-radius: 5px;
}

#mainContent {
  text-align: center;
}

.responsive-img {
  margin-left: 50%;
  position: relative;
}

/* .hero-image {
  background-image: url("https://images.unsplash.com/photo-1555685812-4b943f1cb0eb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  color: rgb(58, 117, 58);
  text-align: center;
  position: absolute;
  top: 30%;
  left: 25%;
  /* transform: (-50%, -50%); */
/* } */

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}